<div class="row">
  <div class="col-sx-12">
    <img
      [src]="details.imagePath"
      [alt]="details.name"
      class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-sx-12">
    <h1>{{details.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()">To Shopping List</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col-xs-12">
      {{details.description}}
    </div>
  </div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        *ngFor="let ingred of details.ingredients"
        class="list-group-item">
        <span>{{ingred.name}}</span> - <span>{{ingred.amount}}</span>
      </li>
    </ul>
  </div>
</div>
