<div class="row">
  <div class="col-sx-12">
    <img
      [src]="details.imagePath"
      [alt]="details.name"
      class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-sx-12">
    <h1>{{details.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-sx-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">Menage recipe <span class="caret"></span></button>
    </div>
    <ul class="dropdown-menu">
      <li><a href="#"> Add to shhopping list</a></li>
      <li><a href="#"> Edit recipe</a></li>
      <li><a href="#"> Delete recipe</a></li>
    </ul>
  </div>
<div>
  <div class="row">
    <div class="col-xs-12">
      {{details.desccription}}
    </div>
  </div>
